.resist--wrapper
  .resist--main
    .resist--main__box
      .resist--main__box__block
        .resist--main__box__block__pagination
          %li.resist--main__box__block__pagination__color 1
          %span.resist--main__box__block__pagination__bar ー
          %li.resist--main__box__block__pagination__number 2
          %span.resist--main__box__block__pagination__bar ー
          %li.resist--main__box__block__pagination__number 3
        .resist--main__box__block__title
          %head.resist--main__box__block__title__text 新規登録
        .resist--main__box__block__forms
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

            .resist--main__box__block__forms__one
              .resist--main__box__block__forms__list__text ニックネーム
              = f.text_field :nickname, class:"resist--main__box__block__forms__list__form", placeholder:"ニックネーム"
              %em
                ※3文字以上20文字以内、記号不可。登録後に変更できます。
              %br/

            .resist--main__box__block__forms__one
              .resist--main__box__block__forms__list__text メールアドレス
              = f.email_field :email, autofocus: true, autocomplete: "email", class:"resist--main__box__block__forms__list__form", placeholder:"メールアドレス"
            .resist--main__box__block__forms__one
              .resist--main__box__block__forms__list__text パスワード
              = f.password_field :password, autocomplete: "new-password", class:"resist--main__box__block__forms__list__form", placeholder:"パスワード"
              - if @minimum_password_length
                %em
                  ※6文字以上半角英数記号のみ（英数混合必須）
              %br/
            .resist--main__box__block__forms__one
              .resist--main__box__block__forms__list__text パスワード確認用
              = f.password_field :password_confirmation, autocomplete: "new-password", class:"resist--main__box__block__forms__list__form", placeholder:"パスワード確認用"
            .resist--main__box__block__forms__one
              .resist--main__box__block__forms__list__text 生年月日
              = f.date_select :birthday, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
            .resist--main__box__block__forms__one
              .resist--main__box__block__forms__list__text 性別
              = f.radio_button :gender, :male
              = f.label :gender, "男性"
              = f.radio_button :gender, :female 
              = f.label :gender, "女性"
              = f.radio_button :gender, :other
              = f.label :gender, "その他"
            .resist--main__box__block__forms__one
              .resist--main__box__block__forms__list__text プロフィール画像
              = f.file_field :image
            .resist--main__box__block__forms__guideline
              %a.resist--main__box__block__forms__guideline__text(href="#") 利用規約
            .resist--main__box__block__forms__btn
              .resist--main__box__block__forms__btn--link
                = f.submit "利用規約に同意して登録", class: "resist--main__box__block__forms__btn__text"
              -# = link_to users_registrations_mail_check_path, class:'resist--main__box__block__forms__btn--link' do
              -#   .resist--main__box__block__forms__btn__text 利用規約に同意して登録

-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .actions
-#     = f.submit "Sign up"


-# <%= render "devise/shared/links" %>