.footer
  .footer__main
    .column1
      .column1__title
        サービスを見つける
      %ul.column1__lists
        %li.list
          = link_to "#", class: "list__link" do
            カテゴリ一覧
        %li.list
          = link_to "#", class: "list__link" do
            公開依頼（旧リクエストボード）
        %li.list
          = link_to "#", class: "list__link" do
            ココナラ法律相談
        %li.list
          = link_to "#", class: "list__link" do
            ココナラマガジン
      .column1__title
        ご利用ガイド
      %ul.column1__lists
        %li.list
          = link_to "#", class: "list__link" do
            ご利用ガイド
        %li.list
          = link_to "#", class: "list__link" do
            サービスを出品したい
        %li.list
          = link_to "#", class: "list__link" do
            サービスを購入したい
        %li.list
          = link_to "#", class: "list__link" do
            安心・安全の取り組み
        %li.list
          = link_to "#", class: "list__link" do
            お支払い方法・手数料
        %li.list
          = link_to "#", class: "list__link" do
            取引の流れ
        %li.list
          = link_to "#", class: "list__link" do
            ルールとマナー
        %li.list
          = link_to "#", class: "list__link" do
            評価について
        %li.list
          = link_to "#", class: "list__link" do
            電話相談サービスについて
        %li.list
          = link_to "#", class: "list__link" do
            ビデオチャットについて
        %li.list
          = link_to "#", class: "list__link" do
            公開依頼(旧リクエストボード)
        %li.list
          = link_to "#", class: "list__link" do
            法人アカウントについて
    .column2
      .column2__title
        サービスを出品する
      %ul
        %li.list
          = link_to "#", class: "list__link" do
            出品する
        %li.list
          = link_to "#", class: "list__link" do
            出品のコツ
        %li.list
          = link_to "#", class: "list__link" do
            サービス価格・有料オプション
        %li.list
          = link_to "#", class: "list__link" do
            ランク制度について
        %li.list
          = link_to "#", class: "list__link" do
            PRO認定について
        %li.list
          = link_to "#", class: "list__link" do
            出品者インタビュー
        %li.list
          = link_to "#", class: "list__link" do
            ココナラクラブオフ
      %ul
      .column2__title
        サイト情報
      %ul
        %li.list
          = link_to "#", class: "list__link" do
            ココナラ利用規約
        %li.list
          = link_to "#", class: "list__link" do
            加盟店規約
        %li.list
          = link_to "#", class: "list__link" do
            有償ポイントに関する特約
        %li.list
          = link_to "#", class: "list__link" do
            資金決済法に基づく表記
        %li.list
          = link_to "#", class: "list__link" do
            特定商取引法に基づく表記
        %li.list
          = link_to "#", class: "list__link" do
            運営会社
        %li.list
          = link_to "#", class: "list__link" do
            採用情報
        %li.list
          = link_to "#", class: "list__link" do
            プライバシーポリシー
        %li.list
          = link_to "#", class: "list__link" do
            よくある質問
        %li.list
          = link_to "#", class: "list__link" do
            お問い合わせ
        %li.list
          = link_to "#", class: "list__link" do
            招待コード
        %li.list
          = link_to "#", class: "list__link" do
            評判・口コミ・感想
    .column3
      .column3__title
        ココナラをもっと知る
      %ul
        %li.list
          = link_to "#", class: "list__link" do
            ココナラとは
        %li.list
          = link_to "#", class: "list__link" do
            Twitter
        %li.list
          = link_to "#", class: "list__link" do
            Facebook
        %li.list
          = link_to "#", class: "list__link" do
            ブログ
        %li.list
          = link_to "#", class: "list__link" do
            ココナラ活用マガジン
    .feedback
      .inquiry-box
        .inquiry-box__title
          ココナラへのご意見・ご要望を
          %br
          お聞かせください
        .inquiry-box__form
          = form_tag('/', method: :post, class: "box") do
            %textarea.box__text{:cols => "30", :name => "text", :placeholder => "サービスへのご意見、ご要望をお聞かせください。ご意見・ご要望に返信できないことをあらかじめご了承ください。", :rows => "2"}
            %input.box__button{:type => "submit", :value => "送信する"}/